<html>
<head>

    
<!--
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


<script>
    
var counter = -1;

function myFunction(){
    $(function() {

        
        $( "div" ).remove( '.step' );
        $( "div" ).remove( '.ingredient' );
        counter = counter+1;
        if(counter > 2)
        {
            counter = 0
        }
       $.getJSON('recipes.json', function(data) {
           $.each(data.recipeList, function(i, f) {
               if(i == counter){
                   var ingredients = f.ingredients;
                   var servingSizes = f.servingSizes;
                   for (i = 0; i < ingredients.length; i++) {
                       var ingredientDiv = "<div class = 'ingredient'>" + "<div class= 'ingredientName'>" + "<p>" + ingredients[i] + "</p>" + "</div>" + "<div class= 'servingSize'>" + "<p>" + servingSizes[i] + "</p>" +  "</div>" + "</div>";
                       console.log(ingredientDiv);
                       $(ingredientDiv).appendTo( "#ingredientSection" );
                    }
                   var steps = f.steps;
                   var times = f.times;
                   for (i = 0; i < steps.length; i++) {
                       var stepDiv = "<div class = 'step'>" + "<div>" + "<img src='img/delete.png' width = 50px height = 50px>" + "</div>" +"<div class = 'stepDescription'>" +  "<p>" + steps[i] + "</p>" + "</div>" + "<div class = 'stepTime'>" +  "<p>" + times[i] + " Mins" + "</p>" + "</div>" +"</div>" ;
                       console.log(stepDiv);
                       $(stepDiv).appendTo( "#stepSection" );
                    }
                }    
               //var tblRow = "<tr>" + "<td>" + f.recipeTitle + "</td>" +
               //"<td>" + f.id + "</td>" + "<td>" + f.ingredients + "</td>"  + "<td>" + f.steps + "</td>" + "<td>" + f.tags + "</td>" + "</tr>"
               //$(tblRow).appendTo("#userdata tbody");
         });

       });

    });
}
</script>

-->
    
</head>
<body>
    
    <div class="picTimerContainer">
        <div class = "foodPic">
            <img src="{{picURL}}" width = 300px height = 300px>
        </div>
        <div class="timer">
            <p class= "demo" onclick="myFunction()">Temp info changer</p>
        </div>
        <div class = "completeButtonContainer">
            <a class = "completeButton" href = "/">
                <h1><font color="white">Complete</font></h1>
            </a>
        </div>
    </div>
    
    <div class = "allBesidesPic">
        <div class = "topbar">
            <div class = "cartImage">
               <img src="../img/goodCart.png" width = 100px height = 100px>
            </div>

            <div class = "title">
               <img src="../img/gOatmealLogo.png" width = 250px height = 100px>
            </div>

            <div style = "float:right">
               <img src="../img/goodTrashCan.png" width = 100px height = 100px>
            </div>

        </div>
        <div class = "middleContainer">
            <div style="margin-left: auto; margin-right: auto">
                <h1> Ingredients</h1>
            </div>
          
            <div>
                    {{# each ing}}
                        <div class="ingredient">
                            <div class = 'ingredientName'><p> {{ this.[0] }} </p></div>
                            <div class = 'servingSize'><p>{{ this.[1] }} </p></div>
                            <div class = 'calAmount'><p>0 Cal</p></div>
                        </div>  
                    {{/each}}
            </div>

            
            
        </div>
        <div class = "stepsContainer">
            <div style="margin-left: auto; margin-right: auto">
                <h1> Cooking Steps</h1>
            </div>
            
            <div>
                    {{# each steps}}
                        <div class="ingredient">
                            <div class = 'stepDescription'><p> {{ this.[0] }} </p></div>
                            <div class = 'stepTime'><p>{{ this.[1] }} Min </p></div>
                        </div>  
                    {{/each}}
            </div>

        </div>
    
</body>
</html>